<h4>Application Form</h4>
<form action="/job/{{job.id}}/apply" method="post">
  <div>
  <label>Full Name</label><br>
  <input type="text" name="full_name" placeholder="Full Name">
  </div>

 <div>
  <label>Email</label><br>
  <input type="text" name="email" placeholder="ladison123@gmail.com">
  </div>
  
  <div>
  <label>LinkedIn</label><br>
  <input type="text" name="linkedin" placeholder="linkedin.com/in/ladison">
  </div>

  <div>
    <label>Education</label><br>
    <textarea name="eductaion"></textarea>
  </div>

  <div>
    <label>Work Experience</label><br>
    <textarea name="work_experience"></textarea>
  </div>

  <div>
    <label>Resume URL</label><br>
    <input type="text" name="Resume_url"
    </div>
  

  <input type="submit" value="Apply Now!">
</form>